/Adivinhe-oNumero/build/
/Adivinhe-oNumero/dist/
/CalculadoraIdade/dist/
/Medias/dist/
/OlaMundoSwing/nbproject/private/
/CalcDelta/nbproject/private/
/CalcDelta1/nbproject/private/
/CalcDelta1/build/
/CalcDelta1/dist/
/CalculadoraBhaskaraV1/nbproject/private/
/CalculadoraBhaskaraV1/build/
/CalculadoraBhaskaraV1/dist/
/CalculadoraBhaskaraV2/nbproject/private/
/CalculadoraBhaskaraV2Auto/build/
/CalculadoraBhaskaraV2Auto/dist/
/CalculadoraBhaskaraV2Manual/nbproject/private/
/CalculadoraBhaskaraV2Manual/build/
