/Adivinhe-oNumero/build/
/Adivinhe-oNumero/dist/
/CalculadoraIdade/dist/
/Medias/dist/
/OlaMundoSwing/nbproject/private/
/CalcDelta/nbproject/private/
/CalcDelta1/nbproject/private/
/CalcDelta1/build/
/CalcDelta1/dist/
